@import url('https://fonts.google.com/specimen/Outfit');

html {
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit;
    font-size: 10px;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    min-height: 100vh;
    overflow: hidden;
}


.gradient {
    position: fixed;
    inset: 0;
    background: repeating-linear-gradient(
        to right,
        transparent 0,
        transparent 3.2rem,
        rgba(184, 184, 184, 0.1) 3.2rem,
        rgba(184, 184, 184, 0.1) 8.8rem
        );
    z-index: 99;
    pointer-events: none;
}

.qr-field {
    background-color: hsl(0, 0%, 100%);
    padding: 1.6rem 1.6rem 4rem;
    border: 0 solid transparent;
    border-radius: 2rem;
    box-shadow: 0 2.5rem 2.5rem rgba(0, 0, 0, 0.0477);
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
}

.qr-field__icon {
    max-width: 28.8rem;
    max-height: 28.8rem;
    border: 0 solid transparent;
    border-radius: 1rem;
}

.qr-field-text {
    display: flex;
    flex-direction: column;
    padding: 0 1.6rem;
    max-width: 25.6rem;
    text-align: center;
    gap: 1.6rem;
}

.qr-field-text__title {
    font: normal normal 700 2.2rem/120% Outfit;
    letter-spacing: 0;
    color: hsl(218, 44%, 22%);
}

.qr-field-text__description {
    font: normal normal 400 1.5rem/140% Outfit;
    letter-spacing: .02rem;
    color: hsl(216, 15%, 48%);
}

.attribution {
    font-size: 1.1rem;
}
.attribution a {
    cursor: pointer;
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 1000px) {
    .gradient {
        background: repeating-linear-gradient(
            to right, 
            transparent 0,
            transparent 3.2rem,
            rgba(163, 163, 163, 0.1) 3.2rem, 
            rgba(163, 163, 163, 0.1) 8.8rem, 
            );
    }
}